body {
    font-family: 'Playfair Display', sans-serif;
    /* margin: 5%; */
     /* padding: 5%; */ */
    text-align: center;

}

header {
    background-color: #000000;
    color: rgba(255, 255, 255, 0.374);
    /* padding: 1% 10; */
    text-align: center;
}


img {
    width: 10%;
    height: auto;
    border-radius: 50%;

}

img {
    border: 1px solid rgb(255, 255, 255);
    width: 18%;

}

img {

    width: 14%;
    background-size: 10%;
    height: auto;
    float: unset;
}

nav {
    margin: auto;
    /* padding: 10px; */

}


nav ul {
    list-style-type: none;
     margin: 1%; 
     padding: 1%;
    overflow: hidden;
    background-color: #3333336a;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    color: rgb(248, 248, 248);
    /* padding: 1% 1%px; */
    text-decoration: dashed;
}

nav ul li a:hover {
    background-color: #00000050;
}

main {
     padding: 1%; 
}

section {
    margin-bottom: 2px;
}

aside {
    background-color: #1111116e;
    /* padding: 1px; */ */
    /* margin: 1px; */ */
}

footer {
    background-color: #333333;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1%; 
    position: static;
    width: 98%;
    bottom: 1px;;
}


body {
    projetos font-size: 10px;
    background-color: rgb(5, 5, 5);
    color: aliceblue;
    text-align: center;
    font-size: 100%;

}

body img {
    font-display: ;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100px;
    border-radius: 100px;
}

p {
    color: rgb(255, 255, 255);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    position: relative;
    top: 10px;
    left: 20px;
}